name: Build

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker Image Tag'
        required: true
        default: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build AMD64
        run: make build PLATFORM=linux/amd64 IMAGE_TAG=${{ inputs.image_tag }}-amd64

      - name: Build ARM64
        run: make build PLATFORM=linux/arm64 IMAGE_TAG=${{ inputs.image_tag }}-arm64
